<section id="footer" class="bg-info mt-5 ">
		<div class="container text-white p-3">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Hızlı linkler</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Bize ulaşın</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Sosyal Medya</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
					</ul>
				</div>
			</div>


		</div>
	</section>
