<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>İLK KİTABIM</title>
  </head>
  <body>
    <h1> <%= kitapİsmi %> </h1>
    <p> <%= kitapYazari %> </p>
    <p> <%= kitapAciklamasi %> </p>
    <p> <%= kitapFiyati %> </p>
  </body>
</html>
