<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yazı : </title>
  </head>
  <body>
<h1>  <%= baslik1   %> </h1>
<p> <%= fiyat %> </p>

<p>Yorum : <%= yorum %> </p>


  </body>
</html>
